*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* overflow-y: hidden; */
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.left{
    color: aliceblue;
    width: 15%;
    height: 100%;
    background-color: #1E1F26;
    position: relative;
    transition: .5s ease-in-out;
    padding: 20px;
}
.anchor{
    background-color: #1E1F26;
    padding: 5px;
    border-radius: 10px;
  
    position: absolute;
    right: -15px;
    top: 2.5%;
    font-size: medium;
}

.closee{
    padding: 20px;
   width: 1%;
   transition: .5s ease-in-out;
   color: aliceblue;
   width: 1%;
   height: 100%;
   background-color: #1E1F26;
   position: relative;
}
.hide{
    overflow: hidden;
    /* transition: 1s ease-in-out; */
   
}
.doublehide{
    display: none;
    transition: 5s ease-in-out;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    --border-size: 2px;
    --border-angle: 0turn;
    width: 75%;
    padding: 12px;
    background-image: conic-gradient(
        from var(--border-angle),
        #213,
        #112 50%,
        #213
      ),
      conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 3s linear infinite;

    &:hover {
        animation-play-state: paused;
      }

}
@keyframes bg-spin {
    to {
      --border-angle: 2turn;
    }
  }
 
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  
  .box1{
    border: 2px solid red;
  }



  /* .....................right................... */

  .right{
    color: white;
    margin-left: 35px;
    width: 84.9%;
    height: 100%;
    padding-top: 1.5%;
}

#inputserach{
    font-size: large;
    border-radius: 10px;
}
.signup,.login{
    background-color: #47CF73;
    color: black;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    margin-right: 10px;
}

.signup:hover{
    background-color: #53a26c;
    color: white;
}
.rightlower{
    color: rgb(216, 219, 222);
    width: 85%;
}

.login:hover{
    background-color: #53a26c;
    color: white;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .signup{
        display: none;
    }

    .left,
    .right {
        width: 100%;
    }

    .right {
        margin-left: 0;
        padding-top: 3%;
    }

    .rightlower {
        width: 100%;
    }
}